.icon-settings { background-image: url(/_Images/Platform/NormalIcon/SettingA16.png) !important; }
.icon-Home16{ background-image: url(/文件/Icons/Home16.png);}
.headermenu li a span.icon-Home16{ background-image: url(/文件/Icons/Home16.png);}
.iconmenu ul li a.icon-Home16{ background-image: url(/文件/Icons/Home16.png);}
